.images {
    animation: change 30s infinite ease-in-out;
}

@keyframes change {
  0% {background-image: url('images/login-bg/bg-1.jpg');}
  20% {background-image: url('images/login-bg/bg-2.jpg');}
  40% {background-image:url('images/login-bg/bg-3.jpg');}
  60% {background-image: url('images/login-bg/bg-4.jpg');}
  80% {background-image: url('images/login-bg/bg-5.jpg');}
  100% {background-image: url('images/login-bg/bg-6.jpg');}
}
